doctype html
html
    head
        title Games Sections
    body
        div(class='section-container')
            <h3>Game Sections :</h3>
            ul
                li: a(href='/games/horror') Horror
                li: a(href='/games/adv') Adventure
                li: a(href='/games/rbg') RBG
