doctype html
html
    head
        title Languages Sections
    body
        div(class='section-container')
            <h3>Languages Sections :</h3>
            ul
                li: a(href='/languages/javascript') Javascript
                li: a(href='/languages/html') Html
                li: a(href='/languages/css') Css
